<hr/>
<div class="ratings_div">
  <% for title, has_ratings, ratings_hash in [["Seller Ratings",user.has_sold, user.ratings_as_seller],
                                              ["Buyer Ratings", user.has_purchased, user.ratings_as_buyer]] %>
    <h6><%= title %></h6>
    <% if has_ratings %>
      <% for code, value in ratings_hash %>
        <p>
          <i>"<%= Deal.reason_string(code.to_i) %>":</i>
          <strong><%= value %></strong>
        </p>
      <% end %>
    <% else %>
      <i>None yet.</i>
    <% end %>
  <% end %>
</div>