<%# requires data-channel and user to be passed in as local variables %>
<table id="<%=data_channel%>_container" class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name/History</th>
      <th>Deal Details</th>
    </tr>
  </thead>
  <tbody>
  <% for user in users %>
    <%= render 'users/user', user: user %>
  <% end %>
  </tbody>
</table>
