<div id="matched_user_help_block">
  <% if user.matched_user %>
    <div class="alert-success alert">
      Matching user found. Details are shown below.
    </div>
  
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Status</th>
          <th>Meal Plan</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'users/user', user: user.matched_user %>
      </tbody>
    </table>
  <% end %>
</div>