<div class="jumbotron">
  <h1>Welcome</h1>
  
  <p>This project is under development.</p>
  
  <% if current_user.nil? %>
    <%= link_to "Login", new_session_path('user'), class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Go to Dashboard", dashboard_url, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>