<h1>Dashboard</h1>

<div class="panel panel-info">
  <div class="panel-heading">My Status and My Remaining Meal Plan
  </div>
  <div class="panel-body">
    <%= render 'status_form' %>
  </div>
</div>

<h1>Live Listings Feed</h1>
<div class="row">
  <div class="col-xs-6">
    <h3>Current Buyers</h3>
    <section>
      <%= render 'users/users', users: @users.buyers, data_channel: "buyers" %>
    </section>
  </div>
  <div class="col-xs-6">
    <h3>Current Sellers</h3>
    <section>
      <%= render 'users/users', users: @users.sellers, data_channel: "sellers" %>
    </section>
  </div>
</div>