<div class="panel panel-primary">
  <div class="panel-heading">Find a Deal</div>
  <div class="panel-body">
    <%= render 'status_form' %>
  </div>
</div>

<div class="row">
  <% for sym in [:sellers,:buyers] %>
    <div class="col-xs-6">
      <h3>Current <%= sym.to_s.humanize %></h3>
      <section>
        <%= render 'users/users', users: @users.public_send(sym), data_channel: sym.to_s %>
      </section>
    </div>
  <% end %>
</div>