<div id="cancelModal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cancel Deal</h4>
      </div>
      <div class="modal-body">
        <p>Please tell us why you want to cancel the deal.</p>
      </div>
      <div class="modal-footer" style="text-align: center">
        <% for option in Deal.reason_options %>
          <%= link_to option[1], cancel_deal_path(option[0]), :'data-dismiss' => "modal", class: "btn btn-default", remote: true, method: :post %>
          <br/><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>
