  
  <p id="geo_help_block_init">
    <strong><i class="fa fa-spin fa-spinner"></i> Detecting your current location...</strong>
  </p>
  
  <p class="hidden" id="geo_help_block_succeeded">
    <strong><i class="fa fa-check"></i> Your current location was successfully saved.</strong>
  </p>
  
  <p class="hidden" id="geo_help_block_failed">
    <strong><i class="fa fa-times"></i> We're sorry, geolocation is not supported by this browser.</strong>
  </p>