  
  <div id="match_help_block_unavailable" class="match_alert alert alert-warning">
    <p>
      Not currently searching for a new match.
    </p>
  </div>
  
  <div id="match_help_block_searching" class="match_alert alert alert-info">
    <p><strong>
      <i class="fa fa-spin fa-spinner"></i>
      There are currently no available users. Waiting for an available user...
    </strong></p>
  </div>
  
  <div id="match_help_block_cancelled" class="match_alert alert alert-warning">
    <p>
      Your latest deal has been <b>cancelled</b>.
    </p>
  </div>
  
  <div id="match_help_block_completed" class="match_alert alert alert-warning">
    <p>
      Your latest deal has been <b>completed</b>.
    </p>
  </div>
  
  <div id="match_help_block_pending" class="match_alert alert alert-success">
    <p>
      Matching user found. Details are shown below.
    </p>
  </div>