<!--div class="panel panel-info">
  <div class="panel-heading">Information</div>
  <div class="panel-body">
  <p class="help-block">
    <i>
      Changing your status to a <b>Seller</b> or <b>Buyer</b> status will
      automatically:<br>1. Place you on the map<br>2. Place you in the directory of currently active users.<br>3. Begin the automatic search for a match.<br><br>If, instead, you would like to manually search for a user, please click "List Users" in the top navigation bar.
    </i>
  </p>
  </div>
</div-->

<div class="panel panel-primary">
  <div id='panel-name' class="panel-heading" style="text-align: center">Find a Deal</div>
  <div class="panel-body">
    <%= render 'match_form' %>
  </div>
</div>
