// Place all the styles specific to this project here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

.actions {
  margin-bottom: 15px;
}
// aggregate column group colors
@each $pair in (guest_blocks #668,
                blocks #866,
                description #646,
                dinex #268) {
  $color: nth($pair, 2);
  $name:  nth($pair, 1);
  .#{$name} { color: $color; }
}

span.buyer {
  @extend .alert-warning;
}
span.seller {
  @extend .alert-info;
}
span.buyer, span.seller {
  background: none !important;
}