// Place all the styles specific to this project here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Red asterisk* after required fields.
.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

.actions {
  margin-bottom: 15px;
}

// Aggregate column group colors and buyer/seller coloring.
// Currently unused. This is leftover from earlier development.
@each $pair in (guest_blocks #668,
                blocks #866,
                description #646,
                dinex #268) {
  $color: nth($pair, 2);
  $name:  nth($pair, 1);
  .#{$name} { color: $color; }
}


// Alert/status CSS.
.buyer {
  @extend .alert-warning;
}
.seller, .completed {
  @extend .alert-info;
}
.buyer, span.seller {
  background: none !important;
}
.cancelled {
  @extend .alert-danger;
}
.pending {
  @extend .alert-success;
}


// Chatroom CSS.
// Used for the chatroom div on the dashbaord.
div#chatroom-container {
  width: 100%;
  border: 1px solid black;
}

div#chatroom {
  height: 250px;
  padding: 10px;
  overflow-y: scroll;
}

div#chatroom p {
  margin: 0px !important;
}

//MAP CSS
div#map img {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  display: block;
}

p#map_help_block {
  text-align: center;
}