// Place all the styles specific to this project here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Red asterisk* after required fields.
.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

.actions {
  margin-bottom: 15px;
}

// Alert/status CSS.
.buyer {
  @extend .alert-warning;
}
.seller, .completed {
  @extend .alert-info;
}
.buyer, span.seller {
  background: none !important;
}
.cancelled {
  @extend .alert-danger;
}
.pending {
  @extend .alert-success;
}

// Chatroom CSS.
// Used for the chatroom div on the dashbaord.
div#chatroom-container {
  width: 100%;
  border: 1px solid black;
}

div#chatroom {
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

div#chatroom p {
  margin: 0px !important;
}

//MAP CSS
div#map img {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  display: block;
}

p#map_help_block {
  text-align: center;
}

// Users CSS
.filter-buttons {
  text-align: center;
  padding-bottom: 10px;
}

// Match Form
.form-success {
  width: 100%;
  font-size: 150%;
  margin-top: 40px;
  margin-bottom: 10px;
}

// Modal popup
.modal-footer a {
  width: 200px;
  margin-bottom: -5px;
}

// Footer 
footer {
  text-align: right;
}

// Ratings div
div.ratings_div {
  font-size: 80%;
}

.match-user-buttons {
  width: 150px;

}

// Suggested Retail 
#suggested-price {
  font-size: 80%;
}

.img-responsive {
  margin: 0 auto;
}

// Colors for location code (max distance wanted) and location name (current location)
// northwest is yellow
// south is red
// northeast is blue
// west is 
@each $pair in (location-code-0 #693
                location-code-1 #369,
                location-code-2 #936,
                central #555,
                north #282,
                northeast #268,
                northwest #882,
                south #822,
                southeast #646,
                southwest #842,
                east #446,
                west #862) {
  $color: nth($pair, 2);
  $name:  nth($pair, 1);
  .#{$name} { color: $color; }
}
