<div class="form-group required">
  <%= f.label :email, class: 'control-label'  %><br />
  <%= f.email_field :email, pattern: ".+\.edu", required: true, class: "form-control" %>
  <p class="help-block"><i>You must use a <b>.edu</b> address. Your email is for login/notification purposes only, and will not be made public.</i></p>
</div>

<div class="form-group required">
  <%= f.label :name, class: 'control-label'  %><br />
  <%= f.text_field :name, required: true, class: "form-control" %>
  <p class="help-block"><i>Use a name or nickname that others can call you by in person.</i></p>
</div>